* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #FFF;
  min-height: 100vh;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle {
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 5px #777;
  color: #000;
}

.middle h1 {
  font-size: 120px;
  font-weight: normal;
}

.middle h3 {
  font-weight: normal;
  font-size: 50px;
}

.bottom {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom .phrase {
  text-align: center;
  margin: 20px;
  text-shadow: 0px 0px 5px #777;
  color: initial;
}

.bottom .author {
  overflow: hidden;
  height: 0px;
  transition: all ease .2s;
}

.bottom .phrase:hover .author {
  height: 20px;
}

.top {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
form {
  display: flex;
}

input#name {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #CCC;
  outline: none;
  font-size: medium;
  color: #000;
  opacity: .5;
}
button#send {
  padding: 10px 25px;
  margin-left: 20px;
  border-radius: 10px;
  outline: none;
  border: 0;
  background-color: #7787d7;
  color: #FFF;
  cursor: pointer;
  height: 38px;
}
button#send:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .middle h1 {
    font-size: 80px;
  }

  .middle h3 {
    font-size: 40px;
  }
}